{% extends 'base.html.twig' %}

{% block title %}Track index{% endblock %}

{% block body %}
    <h1>Track index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Synopsis</th>
                <th>ReleasedYear</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
            <tr>
                <td>{{ track.id }}</td>
                <td>{{ track.title }}</td>
                <td>{{ track.synopsis }}</td>
                <td>{{ track.releasedYear }}</td>
                <td>
                    <a href="{{ path('app_web_track_show', {'id': track.id}) }}">show</a>
                    <a href="{{ path('app_web_track_edit', {'id': track.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_web_track_new') }}">Create new</a>
{% endblock %}
